<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.meetingsystem.dao.AccountForumMapper">
    <resultMap id="BaseResultMap" type="com.team.meetingsystem.model.AccountForum">
        <constructor>
            <idArg column="accountName" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="forumId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from account_forum
        where account_forum.accountName = #{accountName,jdbcType=CHAR}
    </select>

    <insert id="insert" parameterType="com.team.meetingsystem.model.AccountForum">
        insert into account_forum (accountName, forumId)
        values (#{accountName,jdbcType=CHAR}, #{forumId,jdbcType=INTEGER})
  </insert>

</mapper>
