<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.meetingsystem.dao.AgendaMapper">
    <resultMap id="BaseResultMap" type="com.team.meetingsystem.model.Agenda">
        <constructor>
            <idArg column="startTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <idArg column="endTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="content" javaType="java.lang.String" jdbcType="CHAR" />
        </constructor>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from agenda
    </select>

</mapper>
